node_modules/
scraper/node_modules/
temp_*.txt
temp_*.json
simulate_calc.js
check_manual_dmg2.js
find_*.js
inspect_*.js
remove_*.js
dedupe_*.js
reorder_*.js
patch_*.js
fix_*.js
fast_*.js
delete_*.js
stream_*.js
check_*.js
updateScenarioResults_dump.js
extract_*.js
-1)
{if(b.name.includes*
scraper/scrape-dokkaninfo.js
scraper/test*.js
scraper/download*
scraper/parse*
scraper/all_enemies_backup.json
scraper/all_enemies_progress.json
